<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Button</title>
    <link rel="stylesheet" href = "/SCSS_Assignment/css/style.css">
    <link rel="stylesheet" href="/SCSS_Assignment/css/webstyle.css">
    
  </head>
  <body>
       <script src="/SCSS_Assignment/include-nav.js"></script>

  <!-- Include nav.html -->
  <div data-include="/SCSS_Assignment/nav.html"></div>
  
    <main>
        <h1>My Buttons</h1> 
        
<p>These are the buttons for my Design System. I have created primary and secondary buttons in 3 different sizes and I also make a light and dark mode for accessibility. There is a delete button too</p>

<div class="button-container">
  <button class="button small_primary_button ">Small Primary Button</div>

    <div class="button-container">
  <button class="button medium_primary_button ">Medium Primary Button</div>

    <div class="button-container">
  <button class="button large_primary_button"> Large Primary Button</div>

    
    <div class="button-container">
  <button class="mybtnclass">Small Secondary Button</div>

    <div class="button-container">
  <button class="mybtnclass">Medium Secondary Button</div>

        <div class="button-container">
  <button class="mybtnclass">Large Secondary Button</div>
  
  
</div>



    </main>
    <script src="index.js"></script>
  </body>
</html>