<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Button</title>
    <link rel="stylesheet" href = "/SCSS_Assignment/css/style.css">
    <link rel="stylesheet" href="/SCSS_Assignment/css/webstyle.css"> 
    
  </head>
  <body>
       <script src="/SCSS_Assignment/include-nav.js"></script>

  <!-- Include nav.html -->
  <div data-include="/SCSS_Assignment/nav.html"></div>
  
    <main>
        <h1>My Buttons</h1> 
        
<p>These are the buttons for my Design System. I have created primary and secondary buttons in 3 different sizes and I also make a light and dark mode for accessibility.</p>

<div class="button-container">
  <button class="btn small_primary_button ">Small</div>
    <caption>Small Primary Button</caption>

  </br></br>

    <div class="button-container">
  <button class="btn medium_primary_button ">Medium</div>
     <caption>Medium Primary Button</caption>

     </br></br>

    <div class="button-container">
  <button class="btn large_primary_button"> Large</div>
    <caption>Large Primary Button</caption>

    </br></br>

    
    <div class="button-container">
  <button class="btn small_secondary_button">Small</div>
    <caption>Small Secondary Button</caption>

    </br></br>

    <div class="button-container">
  <button class="btn medium_secondary_button">Medium</div>
      <caption>Medium Secondary Button</caption>

      </br></br>

        <div class="button-container">
  <button class="btn large_secondary_button">Large</div>
      <caption>Large Secondary Button</caption>

      
  
  
</div>



    </main>
    <script src="index.js"></script>
  </body>
</html>