<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Inputs</title>
    <link rel="stylesheet" href = "/SCSS_Assignment/css/style.css">
    <link rel="stylesheet" href="/SCSS_Assignment/css/webstyle.css">
    
  </head>
  <body>
       <script src="/SCSS_Assignment/include-nav.js"></script>

  <!-- Include nav.html -->
  <div data-include="/SCSS_Assignment/nav.html"></div>
  
    <main>
        <h1>My Inputs</h1> 
        
<p>These are the inputs for my Design System.</p>

<input type="radio">

</div>



    </main>
    <script src="index.js"></script>
  </body>
</html>