.icon{
    display: block;
    width: 100px;
    height:100px;
     background-repeat: no-repeat;
      background-size: contain;   
  background-position: center;
}

.home_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 47' fill='none'%3E%3Crect x='10' y='18' width='33' height='28' stroke='black' stroke-width='2'/%3E%3Cpath d='M47.5244 17.6426H6.47559L27 1.27832L47.5244 17.6426Z' stroke='black' stroke-width='2'/%3E%3C/svg%3E");

}

.profile_icon{
background-image: url("data:image/svg+xml,%3Csvg width='32' height='55' viewBox='0 0 54 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 18.5532H22C26.9706 18.5532 31 22.5826 31 27.5532V45.2485H1V27.5532C1 22.5826 5.02944 18.5532 10 18.5532Z' stroke='black' stroke-width='2'/%3E%3Cpath d='M16 1C19.7242 1 22.9998 4.59026 23 9.36133C23 14.1326 19.7243 17.7236 16 17.7236C12.2757 17.7236 9 14.1326 9 9.36133C9.00017 4.59026 12.2758 1 16 1Z' stroke='black' stroke-width='2'/%3E%3C/svg%3E");

}

.arrow_icon{
background-image: url("data:image/svg+xml,%3Csvg%20width='26'%20height='35'%20 viewBox='0 0 54 47' fill='none'%20xmlns='http://www.w3.org/2000/svg'%3E%3Cline%20y1='-1'%20x2='29.7195'%20y2='-1'%20transform='matrix(-0.841199%20-0.540726%200.375898%20-0.926661%2025.7518%2018.0701)'%20stroke='black'%20stroke-width='2'/%3E%3Cline%20y1='-1'%20x2='29.7195'%20y2='-1'%20transform='matrix(-0.841199%200.540725%200.375898%200.926661%2025.7518%2018.9299)'%20stroke='black'%20stroke-width='2'/%3E%3C/svg%3E");

}

.help_icon{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='38' viewBox='0 0 38 38'%3E%3Ccircle cx='19' cy='19' r='18' stroke='black' stroke-width='2'/%3E%3Cpath d='M16.7539 22.6445V22.0293C16.7539 21.5475 16.8092 21.1276 16.9199 20.7695C17.0306 20.4115 17.2161 20.0762 17.4766 19.7637C17.737 19.4447 18.0885 19.1126 18.5312 18.7676C18.987 18.4095 19.3483 18.1003 19.6152 17.8398C19.8887 17.5794 20.084 17.319 20.2012 17.0586C20.3249 16.7917 20.3867 16.4824 20.3867 16.1309C20.3867 15.5775 20.1979 15.1576 19.8203 14.8711C19.4492 14.5781 18.9251 14.4316 18.248 14.4316C17.6491 14.4316 17.0859 14.5163 16.5586 14.6855C16.0312 14.8548 15.5104 15.0664 14.9961 15.3203L14.1855 13.6016C14.778 13.276 15.4193 13.0156 16.1094 12.8203C16.806 12.6185 17.571 12.5176 18.4043 12.5176C19.7324 12.5176 20.7578 12.8398 21.4805 13.4844C22.2096 14.1289 22.5742 14.9785 22.5742 16.0332C22.5742 16.6126 22.4831 17.1107 22.3008 17.5273C22.1185 17.9375 21.8483 18.3184 21.4902 18.6699C21.1387 19.015 20.7122 19.3796 20.2109 19.7637C19.8008 20.0892 19.485 20.3724 19.2637 20.6133C19.0488 20.8477 18.8991 21.0853 18.8145 21.3262C18.7363 21.5671 18.6973 21.8568 18.6973 22.1953V22.6445H16.7539ZM16.3828 25.7891C16.3828 25.2552 16.5195 24.8809 16.793 24.666C17.0729 24.4447 17.4147 24.334 17.8184 24.334C18.209 24.334 18.5443 24.4447 18.8242 24.666C19.1042 24.8809 19.2441 25.2552 19.2441 25.7891C19.2441 26.3099 19.1042 26.6875 18.8242 26.9219C18.5443 27.1497 18.209 27.2637 17.8184 27.2637C17.4147 27.2637 17.0729 27.1497 16.793 26.9219C16.5195 26.6875 16.3828 26.3099 16.3828 25.7891Z' fill='black'/%3E%3C/svg%3E");

}

.calender_icon{

background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='42' viewBox='0 0 35 42'%3E%3Crect x='1' y='8' width='33' height='33' stroke='black' stroke-width='2'/%3E%3Cline x1='8' y1='0' x2='8' y2='9' stroke='black' stroke-width='2'/%3E%3Cline x1='28' y1='0' x2='28' y2='9' stroke='black' stroke-width='2'/%3E%3Ccircle cx='7.5' cy='15.5' r='1' stroke='black'/%3E%3Ccircle cx='17.5' cy='15.5' r='1' stroke='black'/%3E%3Ccircle cx='27.5' cy='15.5' r='1' stroke='black'/%3E%3Ccircle cx='27.5' cy='25.5' r='1' stroke='black'/%3E%3Ccircle cx='27.5' cy='35.5' r='1' stroke='black'/%3E%3Ccircle cx='17.5' cy='35.5' r='1' stroke='black'/%3E%3Ccircle cx='7.5' cy='35.5' r='1' stroke='black'/%3E%3Ccircle cx='7.5' cy='25.5' r='1' stroke='black'/%3E%3Ccircle cx='17.5' cy='25.5' r='1' stroke='black'/%3E%3C/svg%3E");


}

.hamburger_menu_icon{
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='34' viewBox='0 0 54 47'%3E%3Cline x1='0' y1='1' x2='35' y2='1' stroke='black' stroke-width='2'/%3E%3Cline x1='0' y1='17' x2='35' y2='17' stroke='black' stroke-width='2'/%3E%3Cline x1='0' y1='33' x2='35' y2='33' stroke='black' stroke-width='2'/%3E%3C/svg%3E");


}
