.icon{
    display: block;
    width: 50px;
    height:50px;
     background-repeat: no-repeat;
}

.home_icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 54 47' fill='none'%3E%3Crect x='10' y='18' width='33' height='28' stroke='black' stroke-width='2'/%3E%3Cpath d='M47.5244 17.6426H6.47559L27 1.27832L47.5244 17.6426Z' stroke='black' stroke-width='2'/%3E%3C/svg%3E");

}

.profile_icon{
background-image: url("data:image/svg+xml,%3Csvg width='32' height='55' viewBox='0 0 32 55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 18.5532H22C26.9706 18.5532 31 22.5826 31 27.5532V45.2485H1V27.5532C1 22.5826 5.02944 18.5532 10 18.5532Z' stroke='black' stroke-width='2'/%3E%3Cpath d='M16 1C19.7242 1 22.9998 4.59026 23 9.36133C23 14.1326 19.7243 17.7236 16 17.7236C12.2757 17.7236 9 14.1326 9 9.36133C9.00017 4.59026 12.2758 1 16 1Z' stroke='black' stroke-width='2'/%3E%3C/svg%3E");

}