<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Button</title>
    <link rel="stylesheet" href = "/SCSS_Assignment/css/style.css">
    <link rel="stylesheet" href="/SCSS_Assignment/css/webstyle.css">
    
  </head>
  <body>
       <script src="/SCSS_Assignment/include-nav.js"></script>

  <!-- Include nav.html -->
  <div data-include="/SCSS_Assignment/nav.html"></div>
  
    <main>
        <h1>My Icons</h1> 
        
<p>These are the icons for my Design System.</p>


<div class="icon-container">
<i class=" icon home_icon"></i>Home Icon</div>
  
<div class="icon-container">
<i class=" icon profile_icon"></i>Profile Icon</div>

<div class="icon-container">
<i class=" icon arrow_icon"></i>Arrow Icon</div>
  
<div class="icon-container">
<i class=" icon help_icon"></i>Help Icon</div>

<div class="icon-container">
<i class=" icon calender_icon"></i>Calender Icon</div>
  
</div>



    </main>
    <script src="index.js"></script>
  </body>
</html>